@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid rgba(22, 241, 254, 0.2);
}

::-webkit-scrollbar-thumb {
  background: $color-blue;
}

::-moz-selection {
  color: $color-white;
  background: rgba(0, 159, 227, 0.5);
}

::selection {
  color: $color-white;
  background: rgba(0, 159, 227, 0.5);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $font-family;
  color: $color;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 20px 100px;
    max-width: 1280px;
  }
}

section {
  position: relative;
}

a {
  outline:none !important;
}