@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  font-family: $font-family;
  color: $color;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 20px 100px;
    max-width: 1480px;
  }
}

section {
  position: relative;
}