.textbook {
    &__groups,&__pages {
        margin: 10px 0;
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__page-switcher {
        display: flex;
        justify-content: center;
    }
    &__status {
        margin: 0 10px;
        text-align: center;
    }
    &__button {
        &.button_active {
            border: 1px solid orange;
            border-radius: 5px;
        }
    }
    &__dictionary {
        display: flex;
        flex-wrap: wrap;
        &>div {
            flex-basis: 48%;
        }
    }
    &__word {
        display: flex;
        align-items: center;
        margin: 10px;
        &-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        &-cover {
            margin-left: 10px;
        }
        button {
            margin-left: 5px;
        }
    }
}