@import '../../../assets/css/base/variables.scss';

.own-game__results--list-item {
  margin-bottom: 10px;
  text-align: left;

  span {
    display: inline-block;
    margin: 0 5px;
  }

  .icon-volume-up {
    cursor: pointer;
    background: none;
    border: none;
    color: $color;
  }
}