.own-game {
  width: 100%;
  min-height: calc(100vh - 180px);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  @media (max-width: 1023px) {
    min-height: calc(100vh - 60px);
  }
}