@import '../../../assets/css/base/variables.scss';

.homepage__video {
  text-align: center;
  margin-bottom: 70px;

  &-title {
    font-size: $font-size-30;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &-iframe {
    border-radius: 20px;
    height: 55vw;
    width: 100%;

    @media (min-width: 1024px) {
      height: 615px;
    }
  }
}